/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1000;
    padding: 10px 20px;
}

nav a {
    color: #333333;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #555555;
}

header {
    background-color: #f8f8f8;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

section {
    align-self: stretch;
    display: block;
    text-align: left;
    margin-bottom: 40px;
}

footer {
    bottom: 0;
    position:fixed;
    text-align: center;
    padding: 10px 0;
    background-color: #f8f8f8;
    width: 100%;
}

/* Home Section */
.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 50px;
}

.home-text {
    max-width: 600px;
    margin-right: 50px;
}

.home-text p {
    font-size: 18px;
    line-height: 1.6;
}

.home-image img {
    max-width: 250px;
    height: auto;
    border: none;  /* Remove the border */
}

/* Section Container */
/* .section-container {
    margin: 0 auto;
    padding-left: 9%; 
    padding-right: 9%;
    text-align: left;
    max-width: 1200px;
}

@media (max-width: 768px) {
    .section-container {
        padding-left: 2%;
        padding-right: 2%;
    }
}
 */

.section-container {
    margin: 0 auto;
    padding-left: 7%;
    padding-right: 7%;
    text-align: left;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 768px) {
    .section-container {
        padding-left: 2%;
        padding-right: 2%;
    }
}

/* Research & Connect with Me Layout: Left Align */
#research, #connect {
    display: block;
    margin-top: 20px;
}

#research .section-container, #connect .section-container {
    width: 100%;
}

#education .section-container p {
    margin: 10px 0;
    white-space: nowrap;
}

/* Section Header */
.section-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: left;
}

.section-container ul {
    list-style: none;
    padding: 0;
}

.section-container ul li {
    margin-bottom: 10px;
}

.section-container p {
    margin-bottom: 10px;
    font-size: 16px;
}

.right-bar {
    background-color: transparent;
}